<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Доставочка</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:wght@100&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="hat">
        <h1> Доставочка </h1>
        <div class="basket"> <img src={{ url_for('static', filename='img/shopping-basket.png') }}> </div>
      </div>
    </header>
    
    <main>
      <div class="fields"> 
        <h2>Регистрация</h2>
        <form action="{{ url_for('register') }}" method="post">
            <input id="username" name="username" type="text" class="rectangle" required placeholder="Логин"></input>
            <input id="password" name="password" type="password" class="rectangle" required placeholder="Пароль"></input>
            <input id="email" name="email" type="text" class="rectangle" required placeholder="Почта ДВФУ"></input>

            <select required id="building" name="building" class="rectangle">
                <option selected="selected" disabled>Выберите корпус</option>
                <option value="11">11</option>
                <option value="10">10</option>
                <option value="9">9</option>
                <option value="8.1">8.1</option>
                <option value="8.2">8.2</option>
                <option value="7.1">7.1</option>
                <option value="7.2">7.2</option>
                <option value="6.1">6.1</option>
                <option value="6.2">6.2</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="2.1">2.1</option>
                <option value="2.2">2.2</option>
                <option value="2.3">2.3</option>
                <option value="2.4">2.4</option>
                <option value="2.5">2.5</option>
                <option value="2.6">2.6</option>
                <option value="2.7">2.7</option>
                <option value="2.8">2.8</option>
                <option value="1">1</option>
                <option value="1.8">1.8</option>
                <option value="1.9">1.9</option>
                <option value="1.10">1.10</option>
                <option value="1.11">1.11</option>
                <option value="Город">Город</option>
            </select>

            <button type="submit" class="reg" value="signup">Зарегистрироваться</button>
            <div class="msg">{{ msg }}<span style="color: #C14359">{{ error }}</span></div>
        </form>
      </div>


    <div class="foot">
      <p>Уже есть аккаунт?</p>
      <p><a href="{{url_for('login')}}">Войти</a></p>
    </div>

    </main>
  </body>
</html>